/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #f1f1f1e0;
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
     background-color: #eceeef;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
   
    @media (max-width: 768px) {
       body, .body {
         background-color: white;
       }
  }

  hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
  }
  
  hr:not([size]) {
    height: 1px;
  }
  
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    line-height: 1.2;
    color: teal;
  }
  
  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
    color:teal;
  }
  
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 2.5rem;
      color:teal;
    }
  }
  
  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
    color:teal
  }
  
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem;
      color:teal;
    }
  }
  
  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
    color: teal;
  }
  
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 1.75rem;
      color: teal;
    }
  }
  
  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
    color: teal;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    h4, .h4 {
      font-size: 1.0rem;
      color:teal;
      text-align: center;
    }
  }

  p {
    color: #888; 
  }

  @media (max-width: 768px) {
    p {
      color: black;
    }
  }

  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: teal;
  }
  
  @media (min-width: 768px) {
     .navbar {
       background-color:  #c2e6f1ec;
    }
  }
  
  .navbar-brand {
    padding-top: 0.31rem;
    padding-bottom: 0.31rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: normal;
    background-color: teal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  @media (prefers-reduced-motion: reduce) {
    .navbar-toggler {
      transition: none;
    }
  }
  
  .navbar-toggler:hover {
    text-decoration: none;
  }
  
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  
  .navbar-nav-scroll {
    max-height: var(--bs-scroll-height, 75vh);
    overflow-y: auto;
  }

  @media (min-width: 768px) {
    .navbar-expand-md {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    .navbar-expand-md .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-md .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler {
      display: none;
    }
    .navbar-expand-md .offcanvas-header {
      display: none;
    }
    .navbar-expand-md .offcanvas {
      position: inherit;
      bottom: 0;
      z-index: 1000;
      -ms-flex-positive: 1;
      flex-grow: 1;
      visibility: visible !important;
      background-color: transparent;
      border-right: 0;
      border-left: 0;
      transition: none;
      -webkit-transform: none;
      transform: none;
    }
    .navbar-expand-md .offcanvas-top,
    .navbar-expand-md .offcanvas-bottom {
      height: auto;
      border-top: 0;
      border-bottom: 0;
    }
    .navbar-expand-md .offcanvas-body {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-positive: 0;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  }
 
  a {
    color: #78c2ad;
    text-decoration: underline;
  }
  
  a:hover {
    color: #609b8a;
  }
  
  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }

  figure {
    margin: 0 0 1rem;
  }
  
  img,
  svg {
    vertical-align: middle;
  }
  
  table {
    caption-side: bottom;
    border-collapse: collapse;
  }
  
  caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #888;
    text-align: left;
  }
  
 
  th {
    text-align: inherit;
    text-align: -webkit-match-parent;
  }
  
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }
  
  label {
    display: inline-block;
  }
 
  .dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    background-color: #f3969a;
  }
  
  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #78c2ad;
  }
  
  .dropdown-item.disabled, .dropdown-item:disabled {
    color: #aaa;
    pointer-events: none;
    background-color: transparent;
  }
  
  .dropdown-menu.show {
    display: block;
  }


  /* Giving our navbar some padding and a background color */
  /* .navbar {
    padding: 10px;
    background: #5191fd;
  } */
  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
  /* .navbar li {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
  } */
  
  /* Getting rid of the default link styles here
  .navbar li a {
    color: #000;
    text-decoration: none;
  }
  
  /* Styling the header, giving it a height, a background color, and some top padding */
  /* .header {
    height: 200px;
    padding-top: 20px;
    background: #cdcdcd;
  } */
  
  /* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
  /* .header h1 {
    padding: 60px;
    margin: 0;
    color: #000;
    text-align: center;
  }
   */
  /* Giving the .post element margin on 3 sides */
  /* .post {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
  } */
  
  /* #nav-select {
    visibility: hidden; */
  
  
  /* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
  /* @media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  } */